* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto";
}
body {
  background-color: #20283e;
  color: #fefefe;
  padding: 100px 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

p {
  margin-bottom: 10px;
  font-family: "Roboto";
}

.course-title {
  font-size: 72px;
}

.post-container {
  background-color: rgb(43, 45, 59);
  padding: 30px;
}

.post-container h1 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.post-container p {
  line-height: 1.8;
}
